HELIUS_API_KEY=your_value_here
NEXT_PUBLIC_HELIUS_API_KEY=your_value_here
BICONOMY_API_KEY=your_value_here
BICONOMY_PROJECT_ID=your_value_here
ALCHEMY_API_KEY=your_value_here
ETH_SIGNER_KEY=your_value_here
NEXT_PUBLIC_RPC_ENDPOINT=your_value_here
ANTHROPIC_BASE_URL=your_value_here
ANTHROPIC_API_KEY=your_value_here
RALPH_DIAGNOSTICS=your_value_here
SOLANA_WALLET_PATH=your_value_here
